.km-group-head{width: 1024px;height: 225px;}
.km-group-head img{width: 1024px;height: 100%;cursor: pointer;}
.km-group-body{width: 1024px;height: 100%;margin-top: 55px;}
.km-group-body-left{float: left;width: 683px;height: 100%;}
.talkTitle{font-size: 18px;font-weight: bold;color: black;}
.km-group-body-left-top{width: 683px;height: 42px;}
.km-group-body-left-top ul li{float: left;}
.km-group-body-left-top ul li a{font-size: 19px;margin:13px 58px 17px 10px;color: #4a4b4b;cursor: pointer;}
.km-group-body-left-top ul li a.cur{font-weight: bold;color: black}
.km-group-body-left-top ul li a.cur:after{font-weight: bold;}
.km-group-body-left-top .intTopic{padding-left: 5px;float:right;width: 95px;height: 30px;background: #009fe7 url(/static/images/index/service_btn2.png) no-repeat left 5px;border: 0;border-radius: 4px;font-size: 15px; text-indent:20px;color: white;cursor: pointer; line-height: 30px;}
.neworhot{float: left;width: 683px;margin-bottom: 10px;}
.neworhot ul li{float: left;}
.neworhot a{font-size: 12px;margin-left: 10px;}
.km-group-body-left-mine{width: 683px;height: 100%;}
.km-group-body-left-all{width: 683px;height: 100%;}
.theGroup{width: 683px;height: 127px;}
.theGroup-left{float:left;width: 87px;height: 100%;}
.theGroup-left img{width: 59px;height: 59px;margin:15px 15px;cursor: pointer; margin:5px 0 0 10px;}
.theGroup-left a{font-size: 12px;margin:0px 0 0 22px;}
.theGroup-right{width: 596px;height: 127px;float: left;}
.theGroup-right ul li{float: left;font-size: 12px;margin-right: 3px;}
.theGroup-right ul{margin-bottom: 21px;margin-top: 12px;}
.theGroup-right ul li a{color: #6fbaed;}
#time{color: gray;}
#num{color: orange;}
.introduce{color: gray;}
.watch{float: right;margin-right: 6px;}
.km-group-body-right{float:left;margin-left: 60px;width: 281px;height: 100%;}
.km-group-body-right-mygroup{width: 281px;}
.km-group-body-right-groups{width: 281px;height: 81px;}
.km-group-body-right-newANDhot{width: 281px;}
h3{font-size:18px;}
.head{width: 80px;}
.makegroup{padding-left: 6px;float: right;margin:-28px 20px 0 0;width: 95px;height: 30px; background: #009fe7 url(/static/images/index/service_btn2.png) no-repeat left center;border: 0;border-radius: 4px;font-size: 15px; text-indent: 20px;color: white;cursor: pointer; line-height: 30px;}
.km-group-body-right-mygroupbody{width: 281px;height: 85px;margin-top: 28px;}
.km-group-body-right-mygroupbody img{float: left;width: 85px;height: 85px;cursor: pointer;}
.km-group-body-right-mygroupbody ul li{float: left;font-size: 12px;margin: 9px 0 9px 12px;}
.km-group-body-right-mygroupbody ul li a{font-size: 16px;}
.more{float: right;margin:41px 15px 10px 0;}
.km-group-body-right-groups{width: 281px;height: 81px;float: left;}
.km-group-body-right-groups h3{margin:15px 0;}
.km-group-body-right-groups ul li{float: left;font-size: 12px;margin-right: 5px;}
.km-group-body-right-newANDhot{height: 430px;width: 281px;float: left;margin-top:8px;}
.km-group-body-right-newANDhot ul li{float: left;font-size: 17px;font-weight:680;margin-right: 20px;color: black;cursor: pointer;}
.km-group-body-right-newANDhot ul li.cur{font-weight: bold;}
.km-group-body-right-newANDhot ul li.cur:after{font-weight: bold;}
.km-group-body-right-newANDhot-new{width: 281px;height: 82px;margin:30px 0;float: left;}
.km-group-body-right-newANDhot-new img{width: 82px;height: 82px;float: left;cursor: pointer; margin-right:8px;}
.km-group-body-right-newANDhot-new p{font-size:12px;margin:3px 0 0 4px;}
.km-group-body-right-newANDhot-hot{width: 281px;height: 82px;margin:30px 0;float: left;}
.km-group-body-right-newANDhot-hot img{width: 82px;height: 82px;float: left;}
.km-group-body-right-newANDhot-hot p{font-size:12px;margin:3px 0 0 4px;}
